/* CSS переменные / Custom properties / Кастомные свойства */
:root {
  --white: #fff;
  --black: #000;
  --brand-dark: #151414;
  --brand-dark-light: #181d19;
  --brand-dark-blue: #2c3847;
  --brand-dark-gray: #657582;
  --brand-middle-gray: #efe2dd;
  --brand-light-gray: #f9f9f9;
  --brand-accent: #85b200;
  --brand-accent-light: #feb618;
  --brand-medium-dark: #494949;
  --brand-link-active: #5fb848;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, "sans-serif";
  font-size: 18px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.header {
  padding: 40px 10px;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  align-items: center;
}

.header__logo-link {
  max-width: 100px;
}

.header__logo-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__menu-link {
  font-weight: 400;
  font-size: 20px;
  color: var(--brand-dark-blue);
  opacity: 0.8;
  text-decoration: none;
}

.header__menu-link.active {
  font-weight: 500;
  color: var(--brand-link-active);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__search-btn {
  margin-right: 20px;
}

.header__cart-link {
  margin-right: 30px;
  text-decoration: none;
}

.header__order-link {
  font-size: 20px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brand-medium-dark);
  padding: 14px 30px;
  border-radius: 27px;
}

.hero {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
}

.hero__left {
  padding-left: 90px;
}

.hero__title {
  max-width: 596px;
  padding-top: 160px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 70px;
  color: #181d19;
}
.acient {
  color: #5fb848;
}
.hero__desc {
  font-family: var(--font-family);
  font-weight: 750;
  font-size: 24px;
  line-height: 142%;
  color: #181d19;
  font-weight: 300;
}

.btn {
  padding-top: 100px;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brand-link-active);
  padding: 14px 30px;
  border-radius: 27px;
}

.hero__right {
  background-image: url("../img/bg\ elements.png");
  width: 750 px;
  height: 561px;
}

.features {
  max-width: 1010px;
  margin: 0 auto;
  margin-bottom: 170px;
}

.features__top {
  text-align: center;
}
.features__title {
  font-weight: 600;
  font-size: 54px;
  color: #151414;
  margin: 0;
  margin-bottom: 15px;
}

.features__desk {
  font-size: 24px;

  color: #3b433e;
  margin: 0;
  margin-bottom: 60px;
}

.features__list {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.features__item {
  width: 270px;
}

.stat {
  display: flex;
  gap: 150px;
  justify-content: center;
}
.stat__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stat__counter {
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  color: #000;
}
.stat__item-name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #545454;
}

.about {
  max-width: 1235px;
  margin: 0 auto;
  display: flex;
  gap: 95px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.about__text {
  width: 500px;
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 54px;
  color: #151414;
}

.about__desk {
  font-size: 22px;
  line-height: 155%;
  color: #181d19;
  margin: 0;
  margin-bottom: 68px;
}

.about__images {
  width: 640px;
  display: grid;
  grid-template-columns: repeat(2, 310px);
  gap: 20px;
  grid-template-rows: repeat(2, 323px);
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about__img :nth-child(3) {
  grid-row: 1/3;
  grid-column: 2/3;
}

.fresh-food {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  gap: 69px;
  margin-bottom: 80px;
}
.fresh-food__img-wrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fresh-food__descr {
  width: 516px;
}

.fresh-food__title {
  font-size: 54px;
  color: #151414;
  margin: 0;
  margin-bottom: 30px;
}
.fresh-food__text {
  font-size: 22px;
  line-height: 155%;
  color: #181d19;
  margin: 0;
  margin-bottom: 40px;
}
.chefs {
  margin: 0 auto;
  max-width: 1248px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  margin-bottom: 140px;
}
.chefs__text {
  width: 500px;
}
.chefs__title {
  font-weight: 770;
  font-size: 54px;
  color: #151414;
  margin: 0;
}

.chefs__descr {
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: #181d19;
  margin: 0;
  margin-bottom: 30px;
}

.chefs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.chefs__list-item {
  padding-left: calc(20px + 17px);
  font-size: 20px;
  color: #181d19;
  position: relative;
  display: flex;
  align-items: center;
}

.chefs__list-item::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/check\ mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
}
.chefs__img-wrapper {
  max-width: 650px;
  height: 548px;
}

.chefs__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dishes {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  margin-bottom: 140px;
}
.dishes__title {
  font-weight: 770;
  font-size: 54px;
  text-align: center;
  color: #151414;
}

.dishes__descr {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #3b433e;
  gap: 60px;
  margin-bottom: 60px;
}

.special__dishes {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-items: center;
  gap: 51px;
  margin-bottom: 120px;
}
.special__dishes-item {
  min-width: 356px;
}
.special__dishes-img {
  max-width: 250px;
}
.special__dishes-name {
  font-weight: 770;
  font-size: 30px;
  text-align: center;
  color: #181d19;
}

.special__dishes-inf {
  font-weight: 350;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  background: linear-gradient(180deg, #39463f 0%, #101612 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 39px;
}

.container__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding-top: 100px;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brand-link-active);
  padding: 14px 30px;
  border-radius: 27px;

  justify-items: center;
}

.testimonials {
  margin: 0 auto;
  max-width: 1440px;
  height: 677px;
  align-items: center;
  background-color: #fcfcfc;
  gap: 150px;
}
.testimonials__title {
  font-weight: 770;
  font-size: 54px;
  text-align: center;
  color: #151414;
  text-align: center;
}
.cards {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.card {
  max-width: 514px;
  background-color: fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card__img {
  border-radius: 50%;
  object-fit: cover;
}

.card__title {
  font-weight: 770;
  font-size: 19px;
  color: #333;
}

.role {
  font-weight: 350;
  font-size: 13px;
  color: #888a9a;
  margin-bottom: 10px;
}

.testimonials__desc {
  font-weight: 200;
  font-size: 18px;
  line-height: 167%;
  color: #181d19;
}
.newslatter {
  align-items: center;
  max-width: 629px;
  margin-bottom: 150px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.newslatter__title {
  font-weight: 770;
  font-size: 36px;
  text-align: center;
  color: #151414;
  padding-bottom: 15px;
}
.newslatter__desc {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #3b433e;
  padding-bottom: 60px;
}
.newslatter__input-tesk {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.newslatter__input {
  width: 515px;
  border-radius: 5px;
  border: 1px solid#ccc;
  padding: 14px 30px;
  border-radius: 27px;
  max-width: 330px;
  max-height: 60px;
}

.newslatter__btn {
  background-color: #f5f5f5;
  min-height: 60px;
}

.btn {
  padding-top: 100px;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brand-link-active);
  padding: 14px 30px;
  border-radius: 27px;
}

.footer {
  max-width: 1440px;
  background: #fcfcfc;
  margin: 0 auto;
  padding-bottom: 105px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440;
  margin: 0 auto;
  padding-left: 176px;
}

.footer-brand {
  flex: 1 1 250px;
  margin-bottom: 20px;
  padding-top: 122px;
  padding-bottom: 131px;
}
.footer-brand__title {
  font-weight: 770;
  font-size: 26px;
  color: #2c3847;
}

.footer-brand__desc {
  font-weight: 500;
  font-size: 16px;
  color: #657582;
  max-width: 262px;
}
.footer-links {
  display: flex;
  gap: 40px;
  flex: 2 1 500px;
  gap: 115px;
  padding-top: 114px;
  padding-bottom: 114px;
}
.footer-links__title {
  margin-bottom: 17px;
  padding-bottom: 20px;
}
.footer-links__list {
  list-style: none;
  padding: 0;
}
.footer__menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #657582;
  padding-bottom: 12px;
}
.copyright__container {
  background-color: #5fb848;
  max-height: 60px;
}

.copyright {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding-bottom: 20px;
}
